@import "tailwindcss";

@theme {
  --color-brand-bg: #0b0b0b;
  --color-brand-surface: #121212;
  --color-brand-accent: #7EF14F;
  --color-brand-accent2: #A3FF6F;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-brand-bg);
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
